<h2>Add New Attendees to <%-foundEvent.eventName%></h2>
<p>Happened on <%-foundEvent.date%></p>

<form action="" method="POST">
        <label for="attendeeName">Attendee Name:</label>
        <input type="text" name="attendeeName" placeholder="Attendee Name">
        <label for="amountOwe">Amount Owe:</label>
        <input type="amountOwe" name="amountOwe" placeholder="$">

        <button type="submit">Create New Attendee</button>
</form>

<form action=<%= "/events/" + foundEvent._id + "/addattendees" %> method="GET">
  <button type="submit">Add Attendees</button>
</form>
