<div class="col-md-12">
	<h2>Add New Attendees to <%-foundEvent.eventName%></h2>
	<p>Happened on <%-foundEvent.date%></p>
</div>
<div class="col-md-12">
	<form action="" method="POST">
    	<label for="attendeeName">Attendee Name:</label>
    	<input type="text" name="attendeeName" placeholder="Attendee Name">
    	<label for="amountOwe">Amount Owe:</label>
    	<input type="amountOwe" name="amountOwe" placeholder="$">
    	<label for="paid">Paid</label>
  		<input type="radio" name="paid">
  		<input type="radio" name="paid">
    	<button type="submit" class="btn btn-primary">Create New Attendee</button>
	</form>
</div