<div class="taglineKennyContainer">
  <h2 >Hello!</h2>  <img id="kenny" src="https://media.giphy.com/media/108JHWB1hruZnq/giphy.gif">
  <br>
  <h2 >Are you 1 of those people <br> who usually helps the table settle the bill first?</h2>
</div>

<div class="homepageText">
  <p>If it's a big group, it's kinda hard to keep track of who pays you back right?</p>
  <p>Well, let <span class="logoname">TABChecker</span> <i>give back to you</i> for being so proactive in settling everyone's bill first!</p>
  <p><i>Sign in</i> so that Here, we can help you keep list of your events <i>until</i> you delete them after your friends have paid you back.</p>

  <p>It's fuss-free & easy-to-use, so why not?</p>

</div>

<a class="signUpLoginButt" href="/viewall">View All Events</a>
<br>
<a class="signUpLoginButt" href="/signup">Signup</a>
<a class="signUpLoginButt" href="/login">Login</a>
