<div class="taglineKennyContainer">
    <br>
    <h2><span id="hello">Hello!</span> <img id="kenny" src="https://media.giphy.com/media/108JHWB1hruZnq/giphy.gif"> <br> <span id="afterHello">Are you usually the one</span> <br>who settles the bill first?</h2>
</div>


<div class="homepageText">
  <p>Here @ <span class="logoname">TABChecker</span>, we can help you keep track of your events & your IOUs.</p>
  <p>It's fuss-free & easy-to-use. So why not?</p>
</div>

<div class="homeBtnContainer">
  <a class="hoverGhostButton" href="/signup">Signup</a>
  <a class="hoverGhostButton" href="/login">Login</a>
  <a class="hoverGhostButton" id="viewallbtn" href="/viewall">View All Events</a>
</div>
