

  <div class="taglineKennyContainer">
    <br>
    <h2><span id="hello">Hello!</span> <img id="kenny" src="https://media.giphy.com/media/108JHWB1hruZnq/giphy.gif"> <br> <span id="afterHello">Are you usually the one</span> <br>who settles the bill first?</h2>
    <h2 class="h2Intro2ndLine">And when it's a HUGE group, it's kinda hard to keep track of cashflow right?</h2>
</div>


<div class="homepageText">

  <p>Well here @ <span class="logoname">TABChecker</span>, we can help you keep a list of your events <br><i>until</i> you delete them after all your friends have paid you back.</p>

  <p>It's fuss-free, easy-to-use & here for you to use at a click of a button. So why not?</p>
</div>
<div class="homeBtnContainer">
  <a class="hoverGhostButton" href="/signup">Signup</a>
  <a class="hoverGhostButton" href="/login">Login</a>
  <a class="hoverGhostButton" id="viewallbtn" href="/viewall">View All Events</a>
</div>
<%# <div class="bc">
</div>%>
