html {
  background-color: darkgrey;
  background-image: url('https://static.pexels.com/photos/160146/pexels-photo-160146.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
}

body {
  font-family: 'Coming Soon', cursive;
}

h1 {
  margin-bottom: 1%;
  font-size: 400%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fredericka the Great', cursive;
}

.taglineKennyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  color: #F7F4F3;
}

.h2Intro2ndLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 80%;
}

.taglineKennyContainer h2 {
  margin: 0.3%;
}

#hello {
  font-size: 130%;
  color: #AA302B;
  font-family: 'Bad Script', cursive;
}

#kenny {
  width: auto;
  height: 60px;
}

h2 {
  font-size: 190%;
  font-family: 'Bad Script', cursive;
}


.homepageText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 110%;
  color: #1E1E24;
  margin-left: 7%;
  margin-right: 8%;
  font-family: 'Coming Soon', cursive;
}

.homepageText p {
    margin: 0.3%;
}

.logoname {
  font-family: 'Fredericka the Great', cursive;
}

.homeBtnContainer {
  text-align: center;
  margin: 0 auto;
  width: 1000px;
}

#viewallbtn {
  width: 300px;
}

.hoverGhostButton {
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  display: inline-block;
  width: 200px;
  padding: 8px;
  margin: 10px;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

.hoverGhostButton:hover, .hoverGhostButton:focus {
  background-color: #f5f5f5;
  color: #000;
  -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.flashmsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #AA302B;
}

/*ViewAllEvents*/

.viewAllEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchBar {
  margin-top: 2%;
  margin-bottom: 3%;
}

/*CSS FOR SIGN UP PAGE*/

.contact-form {
  margin: 0 auto;
  margin-top: 3%;
  max-width: 46%;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  font-family: 'Coming Soon', cursive;
  font-size: 105%;
}

#loginBackBtn {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
}

#SUBackBtn {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
}

label {
  font-weight: 400;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  background: none;
  font-weight: 700;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  max-width: 90%;
  border: 2px dashed rgba(255, 255, 255, 0);
  box-sizing: border-box;
  cursor: text;
  font-family: 'Coming Soon', cursive;
}

.and {
  font-size: 200%;
}

input {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:required,
textarea:required {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:focus {
  border-bottom: 2px dashed rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
}

input:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input:required:invalid {
  color: rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */

  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */

  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-ms-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

.expanding {
  vertical-align: top;
}

.send-icn {
  fill: rgba(255, 255, 255, 1)
}

.send-icn:hover {
  fill: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.btnSULG {
  background: none;
  border: none;
  outline: none;
  margin: 2vmax;
}

.btnSULG:hover small {
  opacity: 1;
}

small {
  display: block;
  opacity: 0;
}

.website {
  opacity: 1;
  font-size: 16px;
  color: white;
  position: relative;
  text-align: center;
  display: block;
  margin-top: 7%;

}

.website a {
  color: white;
}

/*All Events Page*/

.allEventsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.eventHomeMainBtns {
  margin: 0;
}

.eventList {
  border-radius: 2px;
  vertical-align: center;
  font-size: 110%;
  font-family: 'Coming Soon', cursive;
  color: #881416;
}

button {
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 70%;
    border-radius: 35%;
    cursor: pointer;
}

i {
  color: #881416;
}

.eventList div {
  margin: 10px 0;
  color: white;
}

.eventList form {
  display: inline-block;
}

.eventHomeBt {

}

.eventHomeMainBtns form {
  display: inline-block;
}

/*Add New Event*/

.addNewEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

#addEventBtn {
  float: right;
}

#addEventForm {
  margin-top: 2%;
}

.singleEventBtns {
text-align: center;
}

#SPLogout, #SPBack {
  display: inline-block;
}

.SPEventDetails p, form {
  display: inline-block;
  margin-top: 0;
}

.SPEventDetails {
  margin-top: 40%;
}

.table {
  margin-top: 5%;
  text-align: center;
  color: #5B2333;
}

.table th {
  color: white;
}

.SPEventDetailsWithHeading h2 {
  margin-right: 10px;
}

#SPEventUpdate {
  margin-top: 0;
}

.col1, .col2 {
  display: inline-block;
}

.col1Container {
  float: left;
  border: white;
  border-style: dashed;
  padding-left: 8%;
  padding-right: 2%;
  margin-left: 4%;
  margin-top: 2%;
  height: 450px;
}

.col2Container {
  float: right;
  border: white;
  border-style: dashed;
  padding-left: 8%;
  padding-right: 8%;
  /*margin-left: 2%;*/
  margin-right: 6%;
  margin-top: 2%;
  height: 450px;
}

.SPh2 {
  color: white;
}

/*Edit Event Page*/

.editEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

#editEventForm {
  margin-top: 3%;
}

.viewOne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewOneTitle h2, p {
  display: inline-block;
}

.viewOne table{
  margin-top: 0;
}

footer {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 1%;
  width: 100%;
  height: 30px;
  background-color: transparent;
  color: black;
  font-size: 90%;
}
